@import "tailwindcss";

*{
  font-family: outfit;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  .dark {
    color-scheme: dark;
  }
}

@layer components {
  .card-dark {
    @apply dark:bg-gray-800 dark:border-gray-700;
  }
  
  .text-dark {
    @apply dark:text-gray-300;
  }
  
  .hover-dark {
    @apply dark:hover:bg-gray-700;
  }
}